body {
  margin: 0;
  overflow-x: hidden;
  padding-top: 50px;
}

.Main-Div {
  background-color: #161617CC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.Main-Apple,
.Search-Img,
.Basket-Img {
  width: 13px;
}

.Title-Container {
  margin-right: 40px;
  padding-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 11.5px;
}

.Title-Container a {
  color: white;
  text-decoration: none;
}

.iPhone-Poster,
.iPhone-Poster2,
.AirPods-Poster,
.Watch-Poster,
.iPad-sale-Poster {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.iPhone-Poster {
  padding: 70px 0;
  background-color: #000;
  color: white;
}

.iPhone-Poster2,
.AirPods-Poster,
.Watch-Poster{
  padding: 50px 0;
  background-color: #f5f5f7;
  color: #000;
}

.iPad-sale-Poster {
  padding: 20px 0;
  background-color: #f5f5f7;
  color: #000;
}

.iPhone-Poster2 {
  margin-top: 40px;
}

.Poster-Img,
.Watch-Img,
.iPad-sale-Img {
  width: 1470px;
  display: block;
}

.introduction-iphone {
  font-size: 20px;
  font-weight: bold;
}

.introduction-iphone2,
.introduction-airpods,
.introduction-watch {
  font-size: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.first-btn {
  background-color: #0071e3;
  color: white;
  height: 48px;
  border-radius: 24px;
}

.second-btn {
  color: #0071e3;
  border: 1px solid #0071e3;
  height: 48px;
  border-radius: 24px;
}

.second-btn:hover {
  color: white;
  background-color: #0071e3;
}

.Watch span:nth-child(1) {
  color: #000;
  font-weight: lighter;
}

.footer {
  background-color: #5A657726;
  padding: 3rem 0;
  color: #70798F;
  width: 100%;
}

.footer-container {
  padding: 0 170px 0 224px;
}

.footer-text {
  font-size: 12px;
}

.link {
  color: #70798F;
  text-decoration: underline;
}

.link:hover {
  color: #70798F;
}


.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  border-top: 1px solid #d2d2d7;
  margin-top: 40px;
}

.nav-column h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1d1d1f;
}

.nav-column a {
  display: block;
  font-size: 11.5px;
  color: #6e6e73;
  text-decoration: none;
  margin-bottom: 8px;
}

.nav-column a:hover {
  text-decoration: underline;
}

.a-tag {
  color : #0066cc;
}

.footer-bottom {
  border-top: 1px solid #d2d2d7;
  padding: 15px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #6e6e73;
}

.footer-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #6e6e73;
  text-decoration: none;
}

.footer-bottom-right {
  font-size: 12px;
}