

.Main-Div {
    background-color: #161617CC;
    position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;       
    height: 5%;      
    color: #ffffffcc ;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.Main-Apple {
    width : 13px;
}

.Title-Container {
    margin-right : 40px;
    padding-left: 40px;
    display: flex;
    gap : 50px;
    align-items: center;
    font-size : 11.5px;
}

.Title-Container a {
    color: white;
    text-decoration: none;
  }

.Search-Img {
    width : 13px;
}

.Basket-Img {
    width : 13px;

}

.iPhone-Poster {
    position: relative;
    text-align: center;
    margin-top : 40px;
    padding: 70px 0;
    background-color: #000;
    color: white;
    overflow: hidden;
  }

  .iPhone-Poster2 {
    position: relative;
    text-align: center;
    margin-top : 40px;
    padding: 50px 0;
    background-color: #f5f5f7;
    color: #000;
    overflow: hidden;
  }

  .introduction-iphone2 {
    font-size: 30px;
  }

.Poster-Img {
    width : 1470px;
    height : 405px;
    bottom: 0;
    display: block;
}

.introduction-iphone {
    font-size: 20px;
    font-weight: bold;
  }


.btn-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
}

.first-btn {
    background-color: #0071e3;
    color : white;
}

.second-btn {
    color: #0071e3;
    border : 1px solid #0071e3;
}

.AirPods-Poster {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f7;
    color: #000;
    overflow: hidden;
  }

  .introduction-airpods {
    font-size: 30px;
    font-weight: bold;
  }

.Watch-Poster {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f7;
    color: #000;
    overflow: hidden;
}

.Watch-Img {
    width : 1470px;
}

.Watch span:nth-child(1) { color: #000; font-weight: lighter;}

.introduction-watch {
    font-size: 30px;
  }
