.Main-Div {
    background-color: #161617CC;
    position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;       
    height: 5%;      
    color: #ffffffcc ;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.Main-Apple {
    width : 13px;
}

.Title-Container {
    margin-right : 40px;
    padding-left: 40px;
    display: flex;
    gap : 50px;
    align-items: center;
    font-size : 11.5px;
}

.Title-Container a {
    color: white;
    text-decoration: none;
  }

.Search-Img {
    width : 13px;
}

.Basket-Img {
    width : 13px;

}

.Main-Poster {
    position: relative;
    text-align: center;
    padding: 70px 0;
    background-color: #000;
    color: white;
    overflow: hidden;
  }

.Poster-Img {
    width : 1470px;
    height : 405px;
    bottom: 0;
    display: block;
}